* {
	margin: 0;
	padding: 0;
}

.wrapper {
	max-width: 940px;
	margin: 0 auto;
}

.portfolio {
	background-color: #2D303A;
	height: 864px;
	border-bottom: 6px solid #323746;
}

.section-title {
	color: #666d89;
	font-family: "Lato-Black", sans-serif;
	font-size: 30px;
	font-weight: 700;
}

.portfolio__section-title {
	padding-top: 63px;
}

.section-description {
	display: inline-block;
	color: #767e9e;
	line-height: 30px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 300;
}

.portfolio__section-description {
	padding-top: 17px;
}

.buttons-line {
	margin-top: 10px;
	margin-bottom: 9px;
}

.btn {
	display: inline-block;
	border: 1px solid #666d89;
	background-color: #2D303A;
	color: #767e9e;
	margin-right: 4px;
	padding-right: 7px;
	padding-left: 7px;
	border-radius: 5px;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 21px;
}

.btn:hover {
	border: 1px solid #dedede;
	color: #dedede;
}

.layout-4-column {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden;
	height: 610px;
}

.portfolio__image {
	width: 220px;
	height: 187px;
	margin: 10px 0;
}

/*_______________________________________________________________________*/

.about-us {
	height: 722px;
	border-bottom: 6px solid #ffffff;
	background-color: #f2f2f2;
}

.about-us__section-title {
	padding-top: 62px;
}

.about-us__section-description {
	padding-top: 17px;
	line-height: 30px;
}

.layout-3-column {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.about-us__item {
	margin-top: 45px;
}

.about-us__title {
	color: #666d89;
	font-family: "Lato", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 17.86px;
	padding-top: 14px;
	letter-spacing: 0.01px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 300px;
}

.about-us__description {
	width: 301px;
	height: 32px;
	color: #767e9e;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 21.56px;
	margin-top: 8px;
}

.social-icons img {
	margin-right: 5px;
	margin-top: 36px;
}
