@font-face {
	font-family: 'Lato-Regular', 'Lato-Black', 'Lato-Bold', 'Lato-Light', sans-serif;
	src: url(../assets/fonts);
}

* {
	margin: 0;
	padding: 0;
}

.wrapper {
	max-width: 940px;
	box-sizing: border-box;
	margin: 0 auto;
}

body {
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 16px;
}

a {
	text-decoration: none;
}

.header {
	height: 89px;
	background-color: #2d303a;
	border-bottom: 6px solid #323645;
	position: sticky;
	top: 0;
	z-index: 50;
}

.header-container {
	display: flex;
	justify-content: space-between;
}

.logo {
	display: inline-block;
	vertical-align: center;
}

.logo__name, .logo__star {
	display: inline-block;
	margin-top: 30px;
	color: #ffffff;
	font-size: 25px;
	font-weight: 300;
	letter-spacing: -0.06rem;
	text-transform: uppercase;
}

.logo__star {
	margin-left: -1px;
	color: #f06c64;
	font-weight: normal;
}

/*<editor-fold desc="Nav">*/
nav {
	display: inline-block;
	margin-top: 40px;
	float: right;
	margin-left: auto;
	padding-top: 9px;
}

.nav__menu {
	display: flex;
	align-self: center;
}

.nav__item {
	display: inline;
	color: #ffffff;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 6px;
	padding: 0;
}

.nav__link {
	color: #ffffff;
	font-size: 12px;
	padding-left: 23px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.015em;
}

.nav__item:not(:first-child)::before {
	content: "·";
	position: relative;
	right: -10px;
	color: #494e62;
}

a:hover, .nav__link-active, .nav a:hover, .nav a:active {
	color: #f06c64;
	cursor: pointer;
	border: none;
}

a:hover, a:active, .prev, .next {
	cursor: pointer;
}

#menu-checkbox, label {
	display: none;
}

/*</editor-fold>*/


/*<editor-fold desc="Slider">*/

#slider {
	height: calc(100vw * 0.58);
	background-color: #ef6c64;
	border-bottom: 6px;
	border-bottom-style: solid;
	border-bottom-color: #ea666b;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container-slider {
	max-height: 595px;
	height: calc(100vw * 0.58);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	overflow: hidden;
	padding: 0 10px;
}

.two-slides {
	display: flex;
	width: 100%;
	padding: 0 calc(100% * 0.045);
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.iphone-vertical {
	position: relative;
	max-width: 240px;
	width: calc(100vw * 0.235);
	max-height: 483px;
	height: calc(100vw * 0.473);
	background-image: url(../assets/images/PhoneSlider/iphone-vertical-1.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.iphone-horizontal {
	position: relative;
	max-width: 483px;
	width: calc(100vw * 0.473);
	max-height: 240px;
	height: calc(100vw * 0.235);
	background-image: url(../assets/images/PhoneSlider/iphone-horizontal-1.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.three-phones {
	max-width: 100%;
	margin: auto;
	max-height: 483px;
	height: calc(100vw * 0.473);
}

.iphone-vertical-display {
	position: absolute;
	border-radius: 4px;
	width: 80.7%;
	height: 70.1%;
	left: 4%;
	top: 13%;
}

.iphone-horizontal-display {
	position: absolute;
	border-radius: 4px;
	width: 70.2%;
	height: 80%;
	left: 12%;
	top: 5%;
}

.screen {
	width: 100%;
	height: 100%;
}

/*</editor-fold>*/


/*<editor-fold desc="Services">*/
.services {
	box-sizing: border-box;
	padding-top: 60px;
	min-height: 500px;
	background-color: #f1f1f1;
	border-bottom: 6px solid #ffffff;
}

.services__title {
	font-family: 'Lato-Black', sans-serif;
	color: #666d89;
	font-size: 30px;
	font-weight: 400;
}

.services__description {
	margin-bottom: 43px;
	margin-top: 20px;
	color: #767e9e;
	font-family: 'Lato-Regular', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
}

.layout-3-column {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.service__item {
	display: flex;
	/*justify-content: space-between;*/
	width: 299px;
	margin-bottom: 25px;
	margin-right: 34px;
}

.service__icon {
	width: 59px;
	height: 59px;
	padding-top: 4px;
}

.service__content {
	width: 220px;
	margin-left: 20px;
}

.service__title {
	margin: 0;
	font-size: 15px;
	font-weight: 800;
	color: #666d89;
}

.service__description {
	margin: 12px 0 0;
	height: 66px;
	font-size: 12px;
	font-weight: 400;
	line-height: 22px;
	overflow: hidden;
	color: #767e9e;
	font-stretch: normal;
}

/*</editor-fold>*/


/*<editor-fold desc="Portfolio">*/
.portfolio {
	box-sizing: border-box;
	padding-top: 63px;
	background-color: #2D303A;
	min-height: 870px;
	border-bottom: 6px solid #323746;
}

.section-title {
	color: #666d89;
	font-family: "Lato-Black", sans-serif;
	font-size: 30px;
	font-weight: 700;
}

.portfolio__section-title {
	display: block;
}

.section-description {
	display: inline-block;
	color: #767e9e;
	line-height: 30px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 300;
}

.portfolio__section-description {
	padding-top: 17px;
}

.tabs-line {
	margin-top: 10px;
	margin-bottom: 9px;
}

.tab {
	display: inline-block;
	border: 1px solid #666d89;
	background-color: #2D303A;
	color: #767e9e;
	margin-right: 4px;
	padding-right: 7px;
	padding-left: 7px;
	border-radius: 5px;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 21px;
}


.tab:hover, .tab-active {
	border: 1px solid #dedede;
	color: #dedede;
}

.layout-4-column {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden;
	min-height: 610px;
}

.portfolio__image {
	width: 220px;
	height: 187px;
	margin: 10px 0;
}

/*</editor-fold>*/


/*<editor-fold desc="About-us">*/
.about-us {
	box-sizing: border-box;
	min-height: 734px;
	border-bottom: 6px solid #ffffff;
	background-color: #f2f2f2;
}

.about-us__section-title {
	padding-top: 62px;
}

.about-us__section-description {
	padding-top: 17px;
	line-height: 30px;
}

.about-us__item {
	margin-top: 45px;
}

.about-us__title {
	color: #666d89;
	font-family: "Lato", sans-serif;
	font-size: 17px;
	font-weight: 700;
	line-height: 18px;
	padding-top: 13px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 300px;
}

.about-us__description {
	width: 301px;
	color: #767e9e;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 22px;
	margin-top: 8px;
}

.social-icons img {
	margin-right: 5px;
	margin-top: 26px;
}

.section-title {
	font-family: "Lato-Black", sans-serif;
	font-size: 30px;
	font-weight: 700;
}

.section-description {
	display: inline-block;
	line-height: 30px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 300;
}

.feedback__btn {
	display: inline-block;
	color: #f0d8d9;
	background: rgba(0, 170, 238, 0);
	margin-right: 4px;
	padding-right: 7px;
	padding-left: 7px;
	border-radius: 5px;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 21px;
}

.btn:hover {
	border: 1px solid #dedede;
	color: #dedede;
}

/*</editor-fold>*/


/*<editor-fold desc="Contacts">*/
.contacts {
	background-color: #f06c64;
	min-height: 648px;
	border-bottom: 6px solid #ea676b;
	color: #f0d8d9;
}

.contacts__section-title {
	padding-top: 62px;
	color: #f0d8d9;
}

.contacts__section-description {
	padding-top: 16px;
	color: #f0d8d9;
}

.feedback {
	display: flex;
	justify-content: space-between;
}

.feedback__form {
	max-width: 591px;
	padding-top: 44px;
	padding-bottom: 48px;
}

.feedback__field {
	box-sizing: border-box;
	width: 619px;
	border: none;
	padding: 10px 14px 12px;
	border-radius: 5px;
	background-color: #d6564f;
	margin-bottom: 16px;
	height: 38px;
}

.feedback__field::placeholder {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	line-height: 20px;
	font-weight: 600;
	color: #f48c8f;
}

.feedback__textarea {
	height: 202px;
	letter-spacing: 0.019em;
	padding: 7px 14px 13px;
}

.contact-information {
	width: 300px;
	font-size: 12px;
	line-height: 22px;
	font-weight: 400;
}

.contact-information__title {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	padding-top: 43px;
}

.contact-information__description {
	margin: 0;
	padding-top: 11px;
	padding-bottom: 22px;
}

.contact {
	display: inline-flex;
	align-items: center;
}

.contact__link {
	width: 300px;
	margin-left: 9px;
	text-decoration: none;
	color: #f0d8d9;
	font-size: 12px;
	font-weight: 500;
}

/*</editor-fold>*/


/*<editor-fold desc="Footer">*/
.footer__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__copyright {
	font-size: 12px;
	font-weight: 400;
	color: #666d89;
	margin-top: 15px;
}

.social-contacts {
	display: flex;
	justify-content: space-between;
	width: 152px;
}

.footer {
	height: 76px;
	background-color: #2d303a;
}

.social-contacts img {
	margin-top: 23px;
}

/*</editor-fold>*/


/*<editor-fold desc="Modal-window">*/
:root {
	--modal-duration: 1s;
	--modal-color: #666d89;
}

.button {
	background: #666d89;
	padding: 1em 2em;
	color: #fff;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
}

.button:hover {
	background: #666d89;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	margin: 10% auto;
	width: 60%;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
	animation-name: modalopen;
	animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
	margin: 0;
}

.modal-header {
	background: var(--modal-color);
	padding: 15px;
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.modal-body {
	padding: 10px 20px;
	background: #fff;
}

.modal-body p {
	color: black;
}

.close {
	color: #ccc;
	font-size: 20px;
	margin-top: 5px;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

@keyframes modalopen {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/*</editor-fold>*/

@media screen and (max-width: 374px) {
}

@media screen and (min-width: 375px) and (max-width: 767px) {
	#menu-checkbox {
		position: absolute;
		top: -9999px;
		left: -9999px;
		background: none;
	}

	#menu-checkbox:focus {
		background: none;
	}

	label {
		position: absolute;
		float: left;
		cursor: pointer;
		margin-left: 20px;
		margin-top: 26px;
		display: block;
		z-index: 999;
		background: url(../assets/images/MobileAdaptive/Burger-menu-icon-horizontal.svg);
		width: 25px;
		height: 20px;
	}

	#menu-checkbox:checked ~ .toggle-menu {
		transform: rotate(45deg);
	}

	.Burger-menu-icon {
		margin: 0;
	}

	#menu-checkbox:checked ~ nav {
		display: block;
	}

	#menu-checkbox:checked ~ .logo {
		display: inline;
		margin-left: 71px;
		z-index: 99;
	}

	.nav {
		display: none;
		position: fixed;
		left: 0;
		background-color: #002e5b;
		padding: 0;
		margin-top: 0;
	}

	.nav__link {
		display: block;
		padding: 13px 0 13px 71px;
		margin: 0 27px;
		font-size: 24px;
	}

	.nav__menu {
		padding-top: 232px;
		top: 0;
		display: block;
		width: 278px;
		background: #2D303A;
		box-shadow: 0 -40px 20px rgba(0, 0, 0, 0.4);
		height: 100vw;
	}

	.logo {
		margin: 0 auto;
	}

	.wrapper{
		margin: auto 30px;
	}
	.services{
		padding-top:27px ;
		margin-bottom: -6px;
	}
	.services__description {
		margin-bottom: 25px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1019px) {
	.wrapper {
		max-width: 688px;
		margin: 0 40px;
	}

	.container-slider {
		padding: 0 30px 0 30px;
	}

	.two-slides {
		padding: 0 calc(100% * 0.055);
	}

.services{
	padding-top: 40px;
	padding-bottom: 15px;
}

.service__item{
	margin-bottom: 55px;
}
	.services__description {
		margin-bottom: 24px;
	}
}


@media screen and (min-width: 1020px) {
	.container-slider {
		width: 960px;
	}

	.two-slides {
		width: 796px;
	}

	.iphone-vertical, .iphone-horizontal {
		margin: 0;
	}
}




